app/Plugin/Admin/webroot/app/Estado/form.jade
.page-header
	h3 {{header}} - {{Form.nome}}
.panel.panel-primary
	.panel-heading
		.panel-title Formulário
	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-default(ng-click="cancel()") Cancelar
			button.btn.btn-primary(ng-click="save()") Salvar
	.panel-body(ng-if="loading")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="!loading")
		form.form
			.form-group
				label.form-label Sigla
				input.form-control(name="sigla",ng-model="Form.sigla")
			.form-group
				label.form-label Nome
				input.form-control(name="nome",ng-model="Form.nome")
			.form-group
				label.form-label Latitude
				input.form-control(name="latitude",ng-model="Form.latitude")
			.form-group
				label.form-label Longitude
				input.form-control(name="longitude",ng-model="Form.longitude")
	.panel-body
		map.google-map(ng-transclude,center="[-15,-49]",zoom="4")
			marker(lat="Form.latitude",lng="Form.longitude",options="marker.options",events="marker.events")
	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-default(ng-click="cancel()") Cancelar
			button.btn.btn-primary(ng-click="save()") Salvar

app/Plugin/Admin/webroot/app/Noticia/form.html
<div class="page-header"><h3>{{header}} - {{Form.titulo}}</h3></div><div class="panel panel-primary"><div class="panel-heading"><div class="panel-title">Formulário</div></div><div class="panel-footer clearfix"><div class="btn-group pull-right"><button class="btn btn-primary">Salvar</button></div></div><div class="panel-body"><form class="form"><div class="form-group"><label class="form-label">Título</label><input name="titulo" ng-model="Form.titulo" placeholder="Título da Notícia" class="form-control"/></div></form></div><div class="panel-footer clearfix"><div class="btn-group pull-right"><button class="btn btn-primary">Salvar</button></div></div></div>
