app/Plugin/Admin/webroot/app/Entidade/index.jade
.row 
  .col-md-8
    ng-include(ng-if="pagination.pageCount > 1",src="'/admin/app/common/pagination.html'")
  .col-md-4
    .input-group(style="margin-top: 20px;")
      input.form-control(ng-model="entidadeSearch")
      span.input-group-btn
        button.btn.btn-primary(ng-click="search()") Buscar
        button.btn.btn-default(ng-click="searchCancel()") Zerar
hr
.panel.panel-primary
  .panel-heading
    h3.panel-title Entidades
  .panel-body(ng-if="loading")
    ng-include(src="'/admin/app/common/loading.html'")
  table.table(ng-if="!loading")
    tr
      th &nbsp;
      th Nome
      th Cidade
      th UF
      th Link
      th Situação
    tr(ng-repeat="item in data")
      td
        .btn-group
          a.btn.btn-default(href="", ng-click="edit(item)")
            i.glyphicon.glyphicon-pencil.text-primary
          a.btn.btn-default(href="", ng-click="image(item)")
            i.glyphicon.glyphicon-picture.text-primary
          a.btn.btn-default(href="", ng-click="del(item)")
            i.glyphicon.glyphicon-trash.text-danger
      td {{item.Entidade.ent_nome}}
      td {{item.Entidade.ent_cidade}}
      td {{item.Entidade.ent_fed_uf}}
      td {{item.Entidade.ent_link}}
      td(ng-if="item.Entidade.ent_id == 1") Fenapaes
      td(ng-if="item.Entidade.ent_id != 1") {{situacoesEntidade[item.Entidade.ent_situacao]}}
  .panel-footer.clearfix
    .btn-group.pull-right
      button.btn.btn-primary(ng-click="add()") Nova

app/Plugin/Admin/webroot/app/Entidade/index.html
<div class="row"> <div class="col-md-8"><ng-include ng-if="pagination.pageCount &gt; 1" src="'/admin/app/common/pagination.html'"></ng-include></div><div class="col-md-4"><div style="margin-top: 20px;" class="input-group"><input ng-model="entidadeSearch" class="form-control"/><span class="input-group-btn"><button ng-click="search()" class="btn btn-primary">Buscar</button><button ng-click="searchCancel()" class="btn btn-default">Zerar</button></span></div></div></div><hr/><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Entidades</h3></div><div ng-if="loading" class="panel-body"><ng-include src="'/admin/app/common/loading.html'"></ng-include></div><table ng-if="!loading" class="table"><tr><th>&nbsp;</th><th>Nome</th><th>Cidade</th><th>UF</th><th>Link</th><th>Situação</th></tr><tr ng-repeat="item in data"><td><div class="btn-group"><a href="" ng-click="edit(item)" class="btn btn-default"><i class="glyphicon glyphicon-pencil text-primary"></i></a><a href="" ng-click="image(item)" class="btn btn-default"><i class="glyphicon glyphicon-picture text-primary"></i></a><a href="" ng-click="del(item)" class="btn btn-default"><i class="glyphicon glyphicon-trash text-danger"></i></a></div></td><td>{{item.Entidade.ent_nome}}</td><td>{{item.Entidade.ent_cidade}}</td><td>{{item.Entidade.ent_fed_uf}}</td><td>{{item.Entidade.ent_link}}</td><td ng-if="item.Entidade.ent_id == 1">Fenapaes</td><td ng-if="item.Entidade.ent_id != 1">{{situacoesEntidade[item.Entidade.ent_situacao]}}</td></tr></table><div class="panel-footer clearfix"><div class="btn-group pull-right"><button ng-click="add()" class="btn btn-primary">Nova</button></div></div></div>
