app/Plugin/Admin/webroot/app/common/Menu.html
<nav class="navbar navbar-default navbar-fixed-top"><div class="container-fluid"><!-- Brand and toggle get grouped for better mobile display--><div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#/" class="navbar-brand">Sites Fenapaes</a></div><!-- Collect the nav links, forms, and other content for toggling--><div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul class="nav navbar-nav"><li><a href="#/menus">Menus</a></li><li><a href="#/entidades">Entidades</a></li><li><a href="#/estados">Estados</a></li><li class="dropdown"><a ng-href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Notícias <span class="caret"></span></a><ul role="menu" class="dropdown-menu"><li><a ng-href="#/noticiascat">Categorias de Notícias</a></li><li><a ng-href="#/noticias">Notícias</a></li></ul></li><li><a href="#/paginas">Páginas</a></li><li class="dropdown"><a ng-href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Arquivos <span class="caret"></span></a><ul role="menu" class="dropdown-menu"><li><a ng-href="#/arquivostop">Tópicos de Arquivos</a></li><li><a ng-href="#/arquivos">Arquivos</a></li></ul></li><li><a href="#/banners">Banners</a></li><li><a href="#/fotos">Fotos / Galerias</a></li></ul><ul class="nav navbar-nav navbar-right"><li><a href="#">Usuário</a></li><li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Perfil <span class="caret"></span></a><ul role="menu" class="dropdown-menu"><li><a href="/perfil">Perfil</a></li><li><a href="/logout">Sair</a></li></ul></li></ul><form role="theme" class="navbar-form navbar-right"><div class="form-group"><select ng-model="selectedTheme" ng-options="item.name.toLowerCase() as item.name for item in BootswatchThemes" class="form-control"></select></div><button ng-click="changeTheme(selectedTheme)" class="btn btn-default">Alterar</button></form></div></div></nav>

app/Plugin/Admin/webroot/app/common/Menu.jade
nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#/") Sites Fenapaes
		// Collect the nav links, forms, and other content for toggling
		.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav
				li
					a(href="#/menus") Menus
				li
					a(href="#/entidades") Entidades
				li
					a(href="#/estados") Estados
				li.dropdown
					a.dropdown-toggle(ng-href="",data-toggle="dropdown",role="button",aria-expanded="false") Notícias 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-href="#/noticiascat") Categorias de Notícias
						li
							a(ng-href="#/noticias") Notícias
				li
					a(href="#/paginas") Páginas
				li.dropdown
					a.dropdown-toggle(ng-href="",data-toggle="dropdown",role="button",aria-expanded="false") Arquivos 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-href="#/arquivostop") Tópicos de Arquivos
						li
							a(ng-href="#/arquivos") Arquivos
				li
					a(href="#/banners") Banners
				li
					a(href="#/fotos") Fotos / Galerias
			ul.nav.navbar-nav.navbar-right
				li
					a(href="#") Usuário
				li.dropdown
					a.dropdown-toggle(href="#",data-toggle="dropdown",role="button",aria-expanded="false") Perfil 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(href="/perfil") Perfil
						li
							a(href="/logout") Sair

			form.navbar-form.navbar-right(role="theme")
				.form-group
					select.form-control(ng-model="selectedTheme",ng-options="item.name.toLowerCase() as item.name for item in BootswatchThemes")
				button.btn.btn-default(ng-click="changeTheme(selectedTheme)") Alterar
				
