app/Plugin/Admin/webroot/app/Noticia/index.html
<div class="page-header"><h3>Notícias</h3></div><br/><div ng-include="'/admin/app/common/pagination.html'"></div><div class="panel panel-primary"><div class="panel-heading clearfix"><h3 class="panel-title">Notícias<span class="pull-right">Página {{pagination.page}} de {{pagination.pageCount}}</span></h3></div><div class="panel-footer clearfix"><div class="btn-group pull-right"><a ng-click="add()" class="btn btn-primary">Nova</a></div></div><div ng-if="loading" class="panel-body"><div ng-include="'/admin/app/common/loading.html'"></div></div><div ng-if="norecords" class="panel-body"><div ng-include="'/admin/app/common/norecords.html'"></div></div><table ng-if="!loading &amp;&amp; !norecords" class="table"><tr><th>&nbsp;</th><th>Data</th><th>Título</th></tr><tr ng-repeat="item in Noticias"><td><a ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a></td><td class="col-md-2">{{item.Noticia.not_data | date:'dd/MM/yyyy'}}</td><td>{{item.Noticia.not_titulo}}</td></tr></table></div>

app/Plugin/Admin/webroot/app/Noticia/index.jade
.page-header
	h3 Notícias
br
div(ng-include="'/admin/app/common/pagination.html'")
.panel.panel-primary
	.panel-heading.clearfix
		h3.panel-title Notícias
			span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
	.panel-footer.clearfix
		.btn-group.pull-right
			a.btn.btn-primary(ng-click="add()") Nova
	.panel-body(ng-if="loading")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords")
		div(ng-include="'/admin/app/common/norecords.html'")
	table.table(ng-if="!loading && !norecords")
		tr
			th &nbsp;
			th Data
			th Título
		tr(ng-repeat="item in Noticias")
			td
				a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
					i.glyphicon.glyphicon-pencil
			td.col-md-2 {{item.Noticia.not_data | date:'dd/MM/yyyy'}}
			td {{item.Noticia.not_titulo}}
