app/Plugin/Web/webroot/app/static/apaesnosestados.jade
.row
	.col-md-6
		map.google-map(ng-transclude,center="[-15,-49]",zoom="4",options="map.options")
			points(coords="points.coords", options="points.options", properties="points.properties", events="points.events")
	.col-md-6
		div(ng-if="!entSelected")
			.page-header
				h3 Selecione o Estado
		.panel.panel-primary(ng-if="entSelected")
			.panel-heading
				span.panel-title {{entSelected.Entidade.ent_nome}}
			.panel-body
				| {{entSelected.Entidade.ent_endereco}} - {{entSelected.Entidade.ent_bairro}}<br>
				| {{entSelected.Entidade.ent_cidade}} - {{entSelected.Entidade.ent_cep }}<br>
				| http://{{entSelected.Entidade.ent_link}}
			.panel-footer(clearfix)
				.btn-group
					a.btn.btn-primary(href="http://{{entSelected.Entidade.ent_link}}",target="_blank") Acessar
		.panel.panel-primary(ng-if="apaeDFSelected")
			.panel-heading
				span.panel-title {{apaeDFSelected.Entidade.ent_nome}}
			.panel-body
				| {{apaeDFSelected.Entidade.ent_endereco}} - {{apaeDFSelected.Entidade.ent_bairro}}<br>
				| {{apaeDFSelected.Entidade.ent_cidade}} - {{apaeDFSelected.Entidade.ent_cep }}<br>
				| http://{{apaeDFSelected.Entidade.ent_link}}.apaebrasil.org.br
			.panel-footer(clearfix)
				.btn-group
					a.btn.btn-primary(href="http://brasilia.apaebrasil.org.br",target="_blank") Acessar
		.panel.panel-default(ng-if="entSelected && !apaeDFSelected")
			.panel-heading
				span.panel-title Apaes do Estado
			table.table
				tr(ng-repeat="item in Entidades",ng-if="item.Entidade.ent_id < 10000 && (item.Entidade.ent_situacao == 'a' || item.Entidade.ent_id == 1258)")
					td {{ item.Entidade.ent_nome }}
					td
						a(ng-if="item.Entidade.ent_situacao=='a'",href="http://{{ item.Entidade.ent_link }}.apaebrasil.org.br",target="_blank") Accessar
						a(ng-if="item.Entidade.ent_id==1258",href="http://brasilia.apaebrasil.org.br",target="_blank") Accessar

app/Plugin/Web/webroot/app/static/apaesnosestados.html
<div class="row"><div class="col-md-6"><map ng-transclude="ng-transclude" center="[-15,-49]" zoom="4" options="map.options" class="google-map"><points coords="points.coords" options="points.options" properties="points.properties" events="points.events"></points></map></div><div class="col-md-6"><div ng-if="!entSelected"><div class="page-header"><h3>Selecione o Estado</h3></div></div><div ng-if="entSelected" class="panel panel-primary"><div class="panel-heading"><span class="panel-title">{{entSelected.Entidade.ent_nome}}</span></div><div class="panel-body">{{entSelected.Entidade.ent_endereco}} - {{entSelected.Entidade.ent_bairro}}<br>
{{entSelected.Entidade.ent_cidade}} - {{entSelected.Entidade.ent_cep }}<br>
http://{{entSelected.Entidade.ent_link}}</div><div clearfix="clearfix" class="panel-footer"><div class="btn-group"><a href="http://{{entSelected.Entidade.ent_link}}" target="_blank" class="btn btn-primary">Acessar</a></div></div></div><div ng-if="apaeDFSelected" class="panel panel-primary"><div class="panel-heading"><span class="panel-title">{{apaeDFSelected.Entidade.ent_nome}}</span></div><div class="panel-body">{{apaeDFSelected.Entidade.ent_endereco}} - {{apaeDFSelected.Entidade.ent_bairro}}<br>
{{apaeDFSelected.Entidade.ent_cidade}} - {{apaeDFSelected.Entidade.ent_cep }}<br>
http://{{apaeDFSelected.Entidade.ent_link}}.apaebrasil.org.br</div><div clearfix="clearfix" class="panel-footer"><div class="btn-group"><a href="http://brasilia.apaebrasil.org.br" target="_blank" class="btn btn-primary">Acessar</a></div></div></div><div ng-if="entSelected &amp;&amp; !apaeDFSelected" class="panel panel-default"><div class="panel-heading"><span class="panel-title">Apaes do Estado</span></div><table class="table"><tr ng-repeat="item in Entidades" ng-if="item.Entidade.ent_id &lt; 10000 &amp;&amp; (item.Entidade.ent_situacao == 'a' || item.Entidade.ent_id == 1258)"><td>{{ item.Entidade.ent_nome }}</td><td><a ng-if="item.Entidade.ent_situacao=='a'" href="http://{{ item.Entidade.ent_link }}.apaebrasil.org.br" target="_blank">Accessar</a><a ng-if="item.Entidade.ent_id==1258" href="http://brasilia.apaebrasil.org.br" target="_blank">Accessar</a></td></tr></table></div></div></div>
