app/Plugin/Admin/webroot/app/Arquivo/index.jade
.page-header
	h3 Arquivos
br
.panel.panel-primary
	.panel-heading
		h3.panel-title Arquivos
	table.table
		tr
			th &nbsp;
			th Data
			th Título
			th Tópico
			th Tamanho
			th Acessos
		tr(ng-repeat="item in Arquivos")
			td
				a.btn.btn-default
					i.glyphicon.glyphicon-pencil
			td.col-md-2 {{item.Arquivo.arq_data | date:'dd/MM/yyyy'}}
			td {{item.Arquivo.arq_titulo}}
			td {{item.ArquivoTop.art_titulo}}
			td {{item.Arquivo.arq_tamanho}}
			td {{item.Arquivo.arq_acessos}}
	.panel-footer.clearfix
		.btn-group.pull-right
			a.btn.btn-primary(href="#/arquivos/add") Novo

app/Plugin/Admin/webroot/app/Arquivo/index.html
<div class="page-header"><h3>Arquivos</h3></div><br/><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Arquivos</h3></div><table class="table"><tr><th>&nbsp;</th><th>Data</th><th>Título</th><th>Tópico</th><th>Tamanho</th><th>Acessos</th></tr><tr ng-repeat="item in Arquivos"><td><a class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a></td><td class="col-md-2">{{item.Arquivo.arq_data | date:'dd/MM/yyyy'}}</td><td>{{item.Arquivo.arq_titulo}}</td><td>{{item.ArquivoTop.art_titulo}}</td><td>{{item.Arquivo.arq_tamanho}}</td><td>{{item.Arquivo.arq_acessos}}</td></tr></table><div class="panel-footer clearfix"><div class="btn-group pull-right"><a href="#/arquivos/add" class="btn btn-primary">Novo</a></div></div></div>
